// cta
$cortico-subtitle: #4D4E54;
$cortico-cta: #f4a414;

// black/gray variations
$cortico-white: white;
$cortico-dark-gray: #323337;

// yellow variations
$cortico-yellow: #fdfc66;
$cortico-light-yellow: #fff9f1;

//text
$cortico-text-medium: #595959;

// blue variations
$cortico-primary: #4B54F6;
$cortico-dark-blue: #0f16a6;
$cortico-mid-blue: #2b76d9;
$cortico-light-blue: #08b8fd;
$cortico-lighter-blue: #c2e2ea;
$cortico-blue: #00ffff;
$cortico-lighter-blue: #00ffff;
