$cortico-font-primary: 'Montserrat', sans-serif;
$cortico-font-secondary: 'Rubik', sans-serif;

$cortico-headline-font: $cortico-font-primary;
$cortico-subheadlines-font: $cortico-font-secondary;
$cortico-body-font: $cortico-font-secondary;


